@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

body {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: rgb(65, 20, 65);
}

h1 {
  font-size: 32pt;
}

header {
  margin-bottom: 60px;
  padding: 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

main {
  display: grid;
  justify-items: center;
  grid-template-columns: min-content min-content;
  gap: .2rem;

}

main img {
  margin: ;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.719);
  width: 50vw;
  max-width: 300px;
  border-radius: 8px;
}

footer {
  opacity: 0.5;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: rgba(111, 45, 111);
  width: 100%;
  bottom: -500px;
}

footer img {
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.719);
  width: 120px;
  border-radius: 8px;
}


#profile {
  margin-bottom: 30px;
  background-color: rgb(100, 41, 100);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.192);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.719);
  padding: 30px;
  justify-content: center;
  gap: 30px;
  display: flex;
}

#profile img {
  width: 50%;
  height: 50%;
  opacity: 0.8;
  border-radius: 8px;
}


hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  opacity: 0.2;
  width: 90%;
}

main img {
  transition: .2s;
  cursor: pointer;
}

main img:hover {
  transform: scale(1.25);
}